@media all and (min-width: 480px) {
    .CreateOrder {
        padding: 60px 0;
    }

    .CreateOrder form {
        margin: 0 auto;
        max-width: 320px;
    }

    .CreateOrderHeader {
        margin: 0 auto;
        max-width: 320px;
    }
}